*.sw?
*.lo
*.o
*-stamp
*.la
*.lo
*.loT
core
core.*


.deps
.libs
.dirstamp

/aclocal.m4
/autom4te.cache
/bin/mkenum
/compile
/confdefs.h
/config.*
/configure
/conftest.c
/data/awui-hildon.desktop
/data/captcha-font.png
/data/misc
/depcomp
/install-sh
/libawui/hildon/enums.c
/libawui/hildon/enums.h
/libawui/hildon.h
/libawui/hildon/marshal.c
/libawui/hildon/marshal.h
/libawui/model/enums.c
/libawui/model/enums.h
/libawui/model.h
/libawui/web/captcha-font.h
/libawui/web.h
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/src/awui-hildon
/src/awui-hildon-showcase
/src/captcha-decode
/src/captcha-font
/stamp-*
/tests/test-archive
/tests/test-parser
